[Unit]
Description=Voctomix core Daemon
Conflicts=xlogout.target

[Service]
ExecStart=/usr/bin/voctocore -v
Restart=always
RestartSec=1s
Nice=0

[Install]
WantedBy=xlogin.target
