[Unit]
Description=Voctomix source HDMI + audio blackmagic from card %I
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
WantedBy=xlogin.target
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/bin/voctomix-ingest -v --video-source blackmagic --video-attribs 'device-number=%I connection=2' --audio-source blackmagic --audio-attribs 'device-number=%I connection=1' --port 1000%I
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
