[Unit]
Description=Voctomix stream to YouTube
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/videoteam-stream
Restart=always
RestartSec=1s
Nice=10

[Install]
WantedBy=default.target
