[Unit]
Description=Voctomix cutlist
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/voctomix-generate-cut-list --file=/home/%u/Videos/cutlist
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
