#! /usr/bin/perl

use X11::Protocol;
use Data::Dumper;

my $screen = 0;
my @streams = ();
{% for room in streaming.rooms %}
push @streams, "{{ room }}";
{% endfor %}

my $x = X11::Protocol->new();
my $screenwidth = $x->{screens}->[$screen]->{width_in_pixels};
my $screenheigth = $x->{screens}->[$screen]->{heigth_in_pixels};

my $width = int $screenwidth/(scalar @streams);
my $heigth = int $width*9/16;

my $count = 0;
foreach my $stream (@streams) {
	my $location = "+".($count * $width)."+".0;
	# TODO don't hardcode
	my $cmd = "bash -c \"while true; do mpv -ao null https://video.debconf.org/live/$stream.m3u8 -geometry ${width}x${heigth}${location} --screen $screen; sleep 5 ; done \" < /dev/null > /dev/null 2>&1";
	print "$cmd\n";
	system("$cmd&");
	$count++;
}



