#!/bin/bash -x

exec ffmpeg \
    -i tcp://{{ voctomix_hostname }}:15000 \
    -vf scale={{ icecast_scale_hq }} \
    -f webm \
    -cluster_size_limit 10M \
    -cluster_time_limit 5100 \
    -content_type video/webm \
    -c:a libvorbis -b:a {{ icecast_abr_hq }} \
    -c:v libvpx -b:v {{ icecast_vbr_hq }} -crf {{ icecast_quality_hq }} -g 10 \
    -deadline good -threads 4 \
    icecast://{{ icecast_source }}/{{ room_name }}-high.webm
