[Unit]
Description=Voctomix source {{ item.0 }}:\
  {{ item.1.connection }} {%- if item.1.audio %} + audio {%- endif %}\
  blackmagic from card {{ item.1.card }}
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/bin/voctomix-ingest -v \
  --video-source blackmagic \
  --video-attribs 'device-number={{ item.1.card }} \
{% if item.1.connection == 'HDMI' -%}
    connection=2 \
{% elif item.1.connection == 'SDI' -%}
    connection=1 \
{% endif -%}
{% if item.1.mode is defined -%}
    mode={{ item.1.mode }} \
{% endif -%}
    ' \
{% if item.1.audio -%}
  --audio-source blackmagic \
  --audio-attribs 'device-number={{ item.1.card }} connection=1' \
{% endif -%}
  --port {{ 10000 + item.0 }}
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
