[Desktop Entry]
Version=1.0
Name=Follow voctomix cut list
Exec=xfce4-terminal --title="cut list" --geometry=8x5 --command="tail -f /home/{{ user_name }}/Videos/cutlist"
Icon=gtk-cut
Type=Application
Terminal=false
Categories=AudioVideo;
