#!/bin/sh
# {{ ansible_managed }}

# Origin: https://github.com/xfxf/video-scripts/blob/master/michael/youtube-live.sh

exec gst-launch-1.0 \
	tcpclientsrc "host=localhost" port=15000 \
	! matroskademux name=demux \
	! queue \
{% if youtube_threads == 'vaapi' %}
	! vaapih264enc keyframe-period=60 max-bframes=0 bitrate=2000 \
{% else %}
	! x264enc bitrate=2000 byte-stream=false key-int-max=60 bframes=0 aud=true tune=zerolatency threads={{ youtube_threads }} \
{% endif %}
	! "video/x-h264,profile=main" \
	! flvmux streamable=true name=mux \
	! rtmpsink location="rtmp://a.rtmp.youtube.com/live2/x/{{ youtube_auth }} app=live2" demux. \
	! queue \
	! audioconvert ! voaacenc bitrate=128000 ! mux.
