#!/bin/sh

set -euf

pause=0
while [ $# -gt 0 ]; do
	case $1 in
	--pause)
		pause=1
		;;
	*)
		echo "Unknown argument $1"
		exit 1
		;;
	esac
	shift
done

if [ $pause = 1 ]; then
	systemctl --user stop videoteam-record.service
	trap "systemctl --user start videoteam-record.service" EXIT
fi

rsync --archive --progress --partial --stats \
{% for item in rsync_excludes %}
	--exclude '{{ item }}' \
{% endfor %}
	/srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}/ \
{% if rsync_sshopts %}
	-e "ssh {{rsync_sshopts}}" \
{% endif %}
	{{ storage_username }}@{{ nfs_server }}:/srv/{{ nfs_server }}/video/{{ org }}/{{ show }}/dv/{{ room_name }}/
