#!/bin/sh

set -euf

exec rsync --archive --progress --partial \
{% for item in rsync_excludes %}
	--exclude '{{ item }}' \
{% endfor %}
	/srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}/ \
	{{ nfs_server }}:/srv/{{ nfs_server }}/video/{{ org }}/{{ show }}/dv/{{ room_name }}/
