# {{ ansible_managed }}

[Unit]
Description=Voctomix record data
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/monitor-stdout 2 /usr/bin/voctomix-record-timestamp /srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
