<html>
<--!  {{ ansible_managed }} -->
<head>
<title>DebConf17 streaming backend on {{ inventory_hostname }}</title>
</head>
<body>
<p>Hello, I'm {{ inventory_hostname }}, a streaming backend for DebConf17.</p>
</body>
</html>
