# {{ ansible_managed }}

source-directory interfaces.d

auto lo
iface lo inet loopback

{# FIXME: This is hacky, just taking what we got from DHCP and making it static #}
auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet static
	address {{ ansible_default_ipv4.address }}
	netmask {{ ansible_default_ipv4.netmask }}
{% if ansible_default_ipv4.gateway != "???" %}
{# We don't know why this happens, and staticips.gateway is the best workaround we have #}
	gateway {{ ansible_default_ipv4.gateway }}
{% elif staticips.gateway is defined %}
	gateway {{ staticips.gateway }}
{% endif %}
	dns-nameserver {{ ansible_dns.nameservers.0 }}
