#!/bin/sh

# {{ ansible_managed }}

set -eufx

# This script setups ansible and runs it
# It should be ran at the end of the basic installation of a machine

apt install -y ansible git eatmydata

# We clone our ansible repository and copy the ansible config files

git clone {{ playbook_repo }} /root/playbook-repo
(cd /root/playbook-repo; git checkout {{ playbook_branch }})
INVENTORY=/root/playbook-repo/inventory/hosts
PLAYBOOKS=/root/playbook-repo/site.yml

{% if inventory_repo is defined %}
git clone {{ inventory_repo }} /root/inventory-repo
(cd /root/inventory-repo; git checkout {{ inventory_branch }})
INVENTORY=/root/inventory-repo/inventory/hosts
if [ -e /root/inventory-repo/site.yml ]; then
	PLAYBOOKS="$PLAYBOOKS /root/inventory-repo/site.yml"
fi
{% endif %}

cat > /usr/local/sbin/ansible-up <<EOF
#!/bin/sh

set -euf

cd /root/

(cd playbook-repo; git pull)
{% if inventory_repo is defined %}
(cd inventory-repo; git pull)
{% endif %}

exec ansible-playbook \
	--inventory-file=$INVENTORY \
	--connection=local \
	--limit=\$(hostname) \
	$PLAYBOOKS \
	"\$@"
EOF
chmod +x /usr/local/sbin/ansible-up

eatmydata ansible-playbook \
	-vvvv \
	--inventory-file=$INVENTORY \
	--connection=local \
	--limit=$(hostname) \
	$PLAYBOOKS
