# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

auto eth-builtin
iface eth-builtin inet static
     address {{ eth_builtin_ip_address }}
     pre-up ethtool -K $IFACE gso off gro off tso off

allow-hotplug eth-pci
iface eth-pci inet dhcp
     up sysctl -w net.ipv4.ip_forward=1
     up iptables -t nat -A POSTROUTING -o $IFACE -j MASQUERADE 
     down iptables -t nat -D POSTROUTING -o $IFACE -j MASQUERADE 
