## {{ ansible_managed }}

interface=eth-local
{% if domain %}
domain={{ domain }}
{% endif %}

dhcp-range={{ dhcp_range }}
dhcp-authoritative

{% if eth_local_ip_gateway is defined %}
dhcp-option=option:router,{{ eth_local_ip_gateway }}
{% elif eth_uplink_mac_address is defined %}
dhcp-option=option:router,{{ eth_local_ip_address }}
{% else %}
# No default gateway defined. Machines on this network won't have access to the internet
# set eth_local_ip_gateway / eth_uplink_mac_address,eth_local_ip_address
# in ansible variables
{% endif %}

no-hosts
host-record={{ inventory_hostname }},{{ eth_local_ip_address }}

# log-dhcp
