## {{ ansible_managed }}

interface=eth-local
domain={{ domain }}
dhcp-range={{ dhcp_range }}
dhcp-option-force=210,/srv/tftp/
dhcp-boot=pxelinux.0
dhcp-authoritative
enable-tftp
tftp-root=/srv/tftp
no-hosts
host-record={{ inventory_hostname }},{{ eth_local_ip_address }}

