# {{ ansible_managed }}

Explanation: Debian {{ debian_version }}
Package: *
Pin: release a={{ debian_version }}
Pin-Priority: 990

Explanation: Debian sid
Package: *
Pin: release o=Debian,n=sid
Pin-Priority: 2
