# {{ ansible_managed }}

# Add sid as an optional source
# Pinned to a lower priority, of course

deb {{ debian_source }} sid main contrib non-free
deb-src {{ debian_source }} sid main contrib non-free
