#!/bin/sh

{% if serial_terminal[0] == 'cu' %}
exec cu -l /dev/hdmi2usb/by-num/all0/tty -s 115200
{% elif serial_terminal[0] == 'flterm' %}
exec flterm --port /dev/hdmi2usb/by-num/all0/tty --speed 115200
{% elif serial_terminal[0] == 'hdmi2usbd' %}
exec nc localhost 8501
{% endif %}
