[Unit]
Description=Ingest video and sling it at voctomix
After=network-online.target
StartLimitInterval=0

[Service]
ExecStart=/usr/bin/voctomix-ingest --host {{ voctomix.host }} --port {{ (10000 + voctomix.source) }} --video-source hdmi2usb --video-attribs device=/dev/hdmi2usb/by-num/all0/video
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
