#!/bin/sh
set -euf

CMD="voctomix-ingest
	--host {{ voctomix.host }}
	--port {{ voctomix.port }}
	--video-source hdmi2usb
	--video-attribs device=/dev/hdmi2usb/by-num/all0/video
{% if video_delay is defined %}
	--video-delay {{ video_delay }}
{% endif %}
{% if alsa_device is defined %}
	--audio-source alsa
	--audio-attribs device={{ alsa_device }}
{% if audio_delay is defined %}
	--audio-delay {{ audio_delay }}
{% endif %}
{% endif %}
"

exec $CMD
